<nb-card accent="warning">
  <nb-card-header>
    <span class="code"
      >Code: {{product.code}}</span
    >

    <span class="price">Price: $ {{product.price}}</span>
    <span class="quantity"
      >Quantity: {{product.quantity}}</span
    >
    <span class="delete-icon"><nb-icon icon="archive-outline"></nb-icon></span>
  </nb-card-header>
  <nb-card-body>
    <div class="product-image">
      <img
        [src]="product.imageUrl"
      />
    </div>
    <div class="info">
      <div class="product-name">🍕 {{product.name}}</div>
      <div class="product-desc">
        {{product.description}}
      </div>
    </div>
  </nb-card-body>
</nb-card>
